*{
    text-align: center;
    position: relative;
    top: 50px;
}

.body {
	    width: 100vw;
    	height: 100vh;
    
    	background-image: url("img/img_m.png");
    	background-repeat: no-repeat;
    	background-position: center center;
    	background-size: cover;
}

.date{
    color: #151515;
    font-size: 20px;
    position: relative;
    top: -400px;
}


.time{
    color: #f31b39;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: -400px;
}
