.content {
    position: absolute;
    /* background-color: #888888; */
    background-image: url(img/img_bottom_bg.gif);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 245px 124px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn-refresh {
    position: relative;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    width: 25px;
    height: 25px;
    text-align: center;
}

.photo-area {
    /* background-color: #dddddd; */
    width: 270px;
    height: 450px;

    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.photo-area .photo img{
    text-align: center;
    width: 200px;
    height: 270px;
}

.photo-area .txt4 {
    text-align: center;
    margin-top: 10px;
    color: #151515;
}

.photo-area .txt5 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;;
    color: #151515;
    font-size: 21px;
}

.photo-area .txt6 {
    text-align: center;
    margin-top: 10px;
    color: #151515;
    font-size: 16px;
}

.photo-area .txt7 {
    text-align: center;
    color: #f31b39;
    font-weight: bold;
    font-size: 16px;
}

.photo-area .txt8 {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 21px;
    width: fit-content;
    height: fit-content;
}

.photo-area .txt9 {
    text-align: center;
    margin-top: 10px;
    font-size: 23px;
    color: #151515;
    font-weight: bold;            
}

.txt10 {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translate(-50%, -50%);
    font-size: 16px;
    white-space: nowrap;
    color: #888888;
}

.photo-area .round-box {
    border-radius: 5px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 45px;
    background-color: #1f9482;
}
